




    <%= form_for @message do |f| %>
		<%= f.text_area :body,:cols => "50", :rows => "10", class: "u-max-full-width" %>
		<ul class="list-group-box">
		   <% @user.each do |user| %>
		   
			    	<li class="friends_list">
				    	
				    		<span class="round-image-50 list-group-item"><%= image_tag(user.avatar.url(:thumb)) %></span>
							<span class="list-group-item"><%= user.name %></span>
							<span class="follow_list_box list-group-item">
								<%= check_box_tag "message[user_tokens][]", user.id, @message.users.include?(user) %>
							</span>
						
					</li>
					<br>
				
			
		   <% end %>
		 </ul>
		<p><%= f.button :submit, class: "button button-primary" %></p>
		
    <% end %>




