

<%= form_for @message do |f| %>
	<%= f.text_area :body, class: "form-control" %>
	<p>
	   <% @user.each do |user| %>
	        <div>
			<%= check_box_tag "message[user_tokens][]", user.id, @message.users.include?(user) %>
			<%= user.name %>
		</div>
	   <% end %>
	</p>
	<p><%= f.button :submit, class: "btn btn-primary" %></p>
<% end %>

