
<div class="message_sidebar">
    <%= form_for :message, url: messages_path do |f| %>
        <%= f.text_area :body,:cols => "50", :rows => "10" %>
        <ul class="list-group-box">
           <% @user.each do |user| %>
           
                    <li class="friends_list">
                        
                            <span class="round-image-50 list-group-item"><%= image_tag(user.avatar.url(:thumb)) %></span>
                            <span class="list-group-item"><%= user.name %></span>
                            <span class="follow_list_box list-group-item">
                                <%= check_box_tag "message[user_tokens][]", user.id, @message.users.include?(user) %>
                            </span>
                        
                    </li>
                    <br>
           <% end %>
         </ul>
        <p><%= f.button :submit, class: "btn btn-primary" %></p>
        
    <% end %>
</div>


<div class="modal-body">
    <%= form_for :post, url: posts_path do |f| %>
        <%= f.text_area :body, placeholder: "URL from, Soundcloud, Youtube or Vimeo", class: 'form-control' %>
        <br>
        <%= f.submit "Submit Post", class: "btn btn-primary" %>

    <% end %>
</div>



<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field u-max-full-width">
    <%= f.text_area :body, placeholder: "Compose new post...", class: "u-max-full-width" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>