
	<form>
		      <input name="utf8" type="hidden" />
		      <input type="hidden" name="authenticity_token"  />
		      <textarea id="url" class="message_body" name="message[content]"></textarea>
		        
		  <div id="stream-list" class="follow-list">
		      <ul>   
		      	  	<% users.each(function(user){ %>
		      	  		<label for="user<%= user.escape('id') %>" >
						<li id="stream_item">

							<span class="round-image-50 ">
								<img class="avatar" src="<%= user.escape("thumb_avatar") %>" />
							</span>
							<span class="list-group-item"><%= user.get('name') %></span>

							<input type="checkbox" name="message[user_tokens][]" 
							id="user<%= user.escape('id') %>" value="<%= user.escape('id') %>" class="tokens" />
						    
						</li>
						</label>
						<br>
		        	<% }) %>
		            
		       </ul>
		  </div>
		        
		  <div id ="stream-footer">
		      <button name="button" type="submit" class="btn btn-outline">submit</button>
		  </div>
	</form>
