<div class="profile-foreground">
	<div id="user-main">

		<div id="profile-container">
			<div class="hero-avatar">
				<img class="avatar" id="medium-avatar" src="<%= user.escape("medium_avatar") %>" />
			</div>
			<h1><%= user.escape('name') %></h1>
			<p id="user-description"></p>
			<ul class="menu">
				<li class="menu-item">
					<a href='#/users/<%= user.escape("id") %>/following'>
						<button class="button button--chromeless before">
							<small class="menu-label">Following</small>
							<%= user.escape('following_count') %>
						</button>
					</a>
				</li>
				<li class="menu-item">
					<a href='#/users/<%= user.escape("id") %>/followers'>
						<button class="button button--chromeless before">
							<small class="menu-label">Followers</small>
							<%= user.escape('followers_count') %>
						</button>
					</a>
				</li>
				<li class="menu-item menu-last">
					<button class="button button--chromeless">
						<small class="menu-label">Favorites</small>
						23
					</button>
				</li>
			</ul>

			<% if (!user.get('is_owner')) { %>
					<% if (user.get('is_followed')) { %>
						<div id="unfollow" class="button follow">
							<p>Unfollow</p>
						</div>
					<% } else { %>
						<div id="follow" class="button follow">
							<p>Follow</p>
						</div>
					<% } %>
			<% } %>

		</div>
	</div>
</div>	

<div class="profile-posts"></div>

