
<div id="main-user-wrapper">
	<div id="user-main">

		<div id="post-new"></div>

		<% posts.each(function(post){ %>
			<li class="post_show">
			      <div class="panel-heading post_media">
			        <%= post.get("content")%>
			      </div>
			      <div class="post-body">
			        <%= post.escape('body') %>
			      </div>
			      <div class="panel-footer">

			          <div class="name_avatar u-pull-left">
			          	<span class="round-image-50 user_avatar u-pull-left">
			          		<img class="avatar" src="<%= post.user().escape("thumb_avatar") %>" />          		
			          	</span>
			            <span class="user_name post_name u-pull-left">
				            <a href='#/users/<%= post.user().escape("id") %>'>
				              <%= post.user().escape('name') %>
				            </a>
			            </span>
			          </div>
			       
			      </div>
			</li>
		<% }) %>

		<div class="spinner">
		  <div class="bounce1"></div>
		  <div class="bounce2"></div>
		  <div class="bounce3"></div>
		</div>

	</div>
</div>








