	
<li class="post_show">
      <div class="panel-heading post_media">
        <%= post.get("content")%>
      </div>
      <div class="post-body">
        <%= post.escape('body') %>
      </div>
      <div class="panel-footer">

          <div class="name_avatar u-pull-left">
          	<span class="round-image-50 user_avatar u-pull-left">
          		<img class="avatar" src="<%= post.user().escape("thumb_avatar") %>" />
          	</span>

            
            <span class="user_name post_name u-pull-left">
              <a href='#/users/<%= post.user().escape("id") %>'> 
                <%= post.user().escape('name')%>
              </a>
            </span>
          </div>

          <div id="star" class="star_group u-pull-right">
            <% if (post.get('is_owner')){ %>
              <a id="delete-post"> <i class="fa fa-trash-o"></i></a>
            <% } %>


            <% if (post.get('is_liked')) { %>
              <div id="unlike">
                <i class="fa fa-heart"></i>
              </div>
            <% } else { %>
              <div id="like">
                <i class="fa fa-heart-o"></i>
              </div>
            <% } %>
          </div>
       
      </div>
</li>
		
