<div class="button_group span10 mg-auto">
  <div class="button_grup pull-right">
    <% if current_user && @link.editable_by?(current_user) %>
      <%= link_to("Edit", edit_link_path(@link) , :class => "btn btn-info btn-large" )%>
    <% end %>
    <%= link_to("Back", links_path , :class => "btn btn-large btn-success" )%>
    </div>
</div>

<% if @link.title.blank? %>
  <h1 class="page_head_title text-center">沒有標題</h1>
<% else %>
  <h1 class="page_head_title text-center"><%= @link.title %></h1>
<% end %>

<p class="page_head_text text-center"><%= @link.intro %></p>


<!-- page的部分   -->
    <div class="span6 mg-auto page_index_titles">
      <h4 class="float-clear"> 
        <%= @link.owner.name %> ：&nbsp;<%= @link.intro %>
      </h4>
      <div class="span6">

        <div class="thumb">
          <div class="items">
            <% if @link.thumbnail_url.nil? %>
              <ul class="images">
                <li><%= image_tag("no_img.jpg") %></li>
              </ul>
            <% else %>
              <ul class="images">
                <li><img src="<%= @link.thumbnail_url %>"></li>
              </ul>
            <% end %>
          </div>
        </div>

        <div class="attributes">
          <%= link_to(@link.title, @link.content, :class => "index-title") %>
          <% if @link.description.nil? %>
            <p class="index-p muted">遮了國防布，完全沒有內容 XD
              <br>該網站無法自動抓取連結資訊
              <br>如果您是作者，請點選下面按鈕幫忙調整 
              <%= link_to("Here", edit_link_link_path(@link) , 
                          :class => "btn btn-danger btn-mini" )%>
            </p>
          <% else %>
            <p class="index-p muted">
              <%= link.description %>
            </p>
          <% end %>
        </div>

      </div>
    </div>

<div class="span6 mg-auto"><hr></div>

<div id="show_page_messenge" class="span6 mg-auto">
  <h2 class="text-center page_show_titles">推薦原因</h2>
  <p class="page_text page_index_titles"><%= simple_format(@link.messenge) %></p>
</div>

<div class="span6 mg-auto"><hr></div>
<!-- end - page的部分   -->