

<div class="post_wrapper">
	<div class="media_wrapper">
		<span class="round-image-50"><%= image_tag(post.user.avatar.url(:thumb)) %></span>
		<span class="name"><%= link_to post.user.name, post.user, class: "name" %></span>
		<span>
			<% if current_user?(post.user) %>
	      	<%= link_to "delete", post, method: :delete,
	                                       data: { confirm: "You sure?" } %>
		    <% end %>
	    </span> 
		<p class="media"><%= post.body_html %></p>
		<div class="date_and_like">
			
            <span>
              
				  <i class="fa fa-thumbs-o-up"></i>
				
            </span>
            <span class="timestamp"><%= time_ago_in_words(post.created_at) %> ago </span>
            
        </div>
	</div>
</div>