<header>
    


    <!-- <div id="avatar-menu"><a href="#0">Menu</a></div> -->
    <% if user_signed_in? %>
      <div id="left-nav">
        <ul>
            <li>
              <a id="nav-logo" href="#">R</a>
            </li>
            <li class="round-image-50 nav_avatar">
              <%= image_tag(current_user.avatar.url(:thumb)) %>
                <div id="popover">
                  <div class="inner-popover"> 
                        <ul>
                          <li class="popover-item">
                            <a href="#">Home</a>
                          </li>

                          <li class="navbar-item">
                            <a href='#/users/<%= current_user.id %>'>Profile</a>
                          </li>

                          <li class="navbar-item">
                            <a href="#/users">Users</a>
                          </li>

                          <li class="popover-item">
                            <a href="/users/edit">Settings</a>
                          </li>

                          <li class="popover-item">
                             <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
                          </li>
                        </ul>
                  </div>
                  <div class="popover-arrow"></div>  
                </div>
            </li>
            
            <span>     
                <%= render 'messages/count' %>
            </span>
            
        </ul>
      </div>
        
      <div id="right-nav">
        <ul>
          <li class="post button"><a class="cd-signin" href="#0">Post</a></li>
          <li class="button button-circle" ><a class="icon-bell"></a></li>
          <li class="button button-circle" ><a class="icon-speech-bubble"></a></li>
           <!-- <li><a href="/#/users/<%= current_user.id %>"><%= current_user.name %></a></li> -->
        </ul>
      </div>

          <% else %>
                <div class="signed-out-nav">
                  <ul>
                     <li class="navbar-item sign-in">
                        <%= link_to "Sign In", new_user_session_path, class: "popover-link" %>
                     </li>
                     <li class="navbar-item sign-in">
                        <%= link_to "Register", new_user_registration_path, class: "popover-link" %>
                     </li>
                  </ul>
                </div>
          <% end %>
    

</header>





<% if user_signed_in? %>
  <%= render 'layouts/right_slide' %>
<% end %>

<% if user_signed_in? %>
  <%= render 'posts/post_modal' %>
<% end %>
