<header>
    <div id="logo"><h1><%= link_to "curate", root_path, id: "logo" %></h1></div>


    <!-- <div id="avatar-menu"><a href="#0">Menu</a></div> -->
    <% if user_signed_in? %>
        <div id="cd-hamburger-menu">
            <span class="round-image-50 nav_avatar"><%= image_tag(current_user.avatar.url(:thumb)) %></span>
            <a class="cd-img-replace" id="name" href="#0"><%= current_user.name.split(" ")[0] %>
              <span><i class="fa fa-angle-down"></i></span>
            </a>
            <span>
              
                <%= render 'messages/count' %>

            </span>
        </div>

        <ul>
          <li id="post-button"><a>Post</a></li>
          <li id="cd-cart-trigger"><a>Share</a></li>
        </ul>
        
          <% else %>
                <div class="signed-out-nav">
                  <ul>
                     <li class="navbar-item sign-in">
                        <%= link_to "Sign In", new_user_session_path, class: "popover-link" %>
                     </li>
                     <li class="navbar-item sign-in">
                        <%= link_to "Register", new_user_registration_path, class: "popover-link" %>
                     </li>
                  </ul>
                </div>
          <% end %>
    

</header>


<nav id="main-nav">
      
        
        <ul>
          

          <% if user_signed_in? %>
              <li class="popover-item">
                 <%= link_to "Home", root_path, class: "popover-link" %>
              </li>
              <li class="popover-item">
                 <%= link_to "Profile", current_user, class: "popover-link" %>
              </li>

              <li class="navbar-item">
                  <%= link_to "Messages", messages_path %>
              </li>

              <li class="navbar-item">
                  <%= link_to "Users", users_path %>
              </li>

               <li class="popover-item">
                 <%= link_to "Settings", edit_user_registration_path %>
               </li>

               <li class="popover-item">
                 <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
               </li>
          <% end %>

        </ul>
      
</nav>


<% if user_signed_in? %>
  <%= render 'layouts/right_slide' %>
<% end %>
