


<nav class="navbar">
      <div class="container">
        <li class="navbar-item navbar-brand"><h1><%= link_to "curate", root_path, id: "logo" %></h1></li>
        <ul class="navbar-list u-pull-right">
          

          <% if user_signed_in? %>

              <li class="navbar-item">
                  <%= link_to "Send", new_message_path, class: "navbar-link" %>
              </li>
              <li class="navbar-item">
                  <%= link_to "Messages", messages_path, class: "navbar-link" %>
              </li>
              <li class="navbar-item">
                  <%= link_to "Users", users_path, class: "navbar-link" %>
              </li>
             
              <li class="navbar-item">
                
                <a class="navbar-link" href="#" data-popover="#moreNavPopover">
                   <%= current_user.name.split(" ")[0] %>
                </a>
                   <div id="moreNavPopover" class="popover">
                     <ul class="popover-list">
                       <li class="popover-item">
                         <%= link_to "Profile", current_user, class: "popover-link" %>
                       </li>
                       <li class="popover-item">
                         <%= link_to "Settings", edit_user_registration_path, class: "popover-link" %>
                       </li>
                       <li class="popover-item">
                         <%= link_to "Log out", destroy_user_session_path, :method => :delete, class: "popover-link" %>
                       </li>
                     </ul>
                   </div>
               </li>
            <% else %>
               <li class="navbar-item">
                  <%= link_to "Sign In", new_user_session_path, class: "popover-link" %>
               </li>
               <li class="navbar-item">
                  <%= link_to "Register", new_user_registration_path, class: "popover-link" %>
               </li>
          <% end %>
        </ul>
      </div>
</nav>
