<header>
    <div id="logo"><h1><%= link_to "curate", root_path, id: "logo" %></h1></div>
    
    <div id="cd-hamburger-menu"><a class="cd-img-replace" href="#0">Menu</a></div>
    <div id="cd-cart-trigger"><a class="cd-img-replace" href="#0">Cart</a></div>
</header>


<nav id="main-nav">
      
        
        <ul>
          

          <% if user_signed_in? %>

              <li class="navbar-item">
                  <%= link_to "Send", new_message_path, class: "current" %>
              </li>
              <li class="navbar-item">
                  <%= link_to "Messages", messages_path %>
              </li>
              <li class="navbar-item">
                  <%= link_to "Users", users_path %>
              </li>
                   
               <li class="popover-item">
                 <%= link_to "Profile", current_user, class: "popover-link" %>
               </li>
               <li class="popover-item">
                 <%= link_to "Settings", edit_user_registration_path %>
               </li>
               <li class="popover-item">
                 <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
               </li>
                        

                   
               
            <% else %>
               <li class="navbar-item">
                  <%= link_to "Sign In", new_user_session_path, class: "popover-link" %>
               </li>
               <li class="navbar-item">
                  <%= link_to "Register", new_user_registration_path, class: "popover-link" %>
               </li>
          <% end %>
        </ul>
      
</nav>

<%= render 'layouts/right_slide' %>
