<!DOCTYPE html>
<html>
<head>
  <title>Curate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel="stylesheet"></link>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"></link>

  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/header" %>
		<div class="container" id="main">
      
			<%= render 'layouts/messages' %>
			<%= yield %>
      
		</div>
  
</body>
</html>


