<!DOCTYPE html>
<html>
<head>
  <title>Curate</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel="stylesheet"></link>

  <%= csrf_meta_tags %>
</head>
    <body>
    	  <%= render "layouts/header" %>
        <%= render 'layouts/messages' %>
        <% if user_signed_in? %>
        	<div class="container" id="main-container">
          </div>
        <% end %>
  			

  			<%= yield %>
      		
        
    </body>
</html>


